{block content}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<thead>
					<tr>
						<td>Test</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Ahoj</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{/block}
